{% extends 'base.html' %}
{% load tag %}
{% block title %}
    <title>登陆</title>
{% endblock %}

{% block body %}
    <div class="container col-lg-offset-4">
        <form class="form-signin col-lg-3 pu ">{% csrf_token %}
            <h3 class="form-signin-heading">众筹</h3>
            <input type="text" id="username" name="username" class="form-control" placeholder="username" required autofocus>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" autocomplete="new-password" required>
            {% if errors %}
               <span style="color: red;">{{ errors.error }}</span>
            {% endif %}
{#            <div class="checkbox">#}
{#                <label>#}
{#                    <input type="checkbox" value="remember-me"> Remember me#}
{#                </label>#}
{#            </div>#}
            <span id="error" style="color: red"></span>
            <button class="btn btn-lg btn-primary btn-block" type="button" id="submit">Login</button>
        </form>
    </div> <!-- /container -->
    <script>
        $('#submit').click(function () {
            var username = $('#username').val();
            var password = $('#password').val();
            $.ajaxSetup({
                data:{'csrfmiddlewaretoken':'{{ csrf_token }}'}
            });
            $.ajax({
                    url: "/audit/login.html",
                    type: 'POST',
                    data: {'username': username, 'pwd':password},
                    dataType: 'json',
                    success: function(arg){
                        console.log(arg);
                        if(arg['status']){
                            window.location.href = '/audit/listProject.html';
                        }else {
                            $('#error').text('用户名或密码错误')
                        }
                        }
                    });
                })
    </script>
{% endblock %}